@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lexend:wght@100..900&display=swap");

html {
  --light-bg: #fefbff;
  --dark-bg: #1b1b1f;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-500: #3b82f6;
  --blue-400: #60a5fa;
  --gray-900: #111827;
  --gray-800: #1f2937;
  --gray-700: #374151;
  --gray-600: #4b5563;
  --gray-400: #9ca3af;
  --gray-300: #d1d5db;
  --gray-200: #e5e7eb;
  --gray-100: #f3f4f6;
  --white: #ffffff;
  --theme: #9cd0fb;
  --true-theme: #9cd0fb;
  --true-opposite: #1e659e;
  --true-on-theme: #103074;
  --theme-opposite: #1e659e;
  --theme-opposite-main: #1e659e;
  --theme-hover: #7ab8f9;
  --text-color: #111827;
  --themed-gray-1: #f3f4f6;
  --themed-gray-2: #e5e7eb;
  --themed-gray-3: #d1d5db;
  --themed-gray-4: #9ca3af;
  --themed-gray-5: #6b7280;
  --themed-gray-6: #4b5563;
}

html,
body,
.container {
  overflow-x: hidden;
}
.dark {
  --theme: #1e659e;
  --theme-opposite: #3380be;
  --theme-opposite-main: #9cd0fb;
  --theme-hover: #1a4f7c;
  --text-color: #ffffff;
  --themed-gray-1: #1f2937;
  --themed-gray-2: #374151;
  --themed-gray-3: #4b5563;
  --themed-gray-4: #9ca3af;
  --themed-gray-5: #d1d5db;
  --themed-gray-6: #e5e7eb;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  transition: all 0.3s ease;
  background-color: var(--theme);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--theme-opposite);
}

/* Scroll effect */

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-out;
}

.reveal.reveal-up {
  transform: translateY(20px);
}

.reveal.reveal-left {
  transform: translateX(-20px);
}

.reveal.reveal-right {
  transform: translateX(20px);
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.reveal.reveal-left.active {
  transform: translateX(0);
}

.reveal.reveal-right.active {
  transform: translateX(0);
}

/* End */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.2s, color 0.1s;
}

body {
  font-family: "Lexend", sans-serif;
  background-color: var(--light-bg);
  color: var(--gray-900);
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.dark body {
  background-color: var(--dark-bg);
  color: var(--white);
}

.titles {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

.container {
  margin: 0rem 0rem;
}

/* Header */

nav {
  width: 100%;
  position: fixed;
  z-index: 1000;
  border-top: 7px solid var(--theme);
}
nav > div {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background-color: var(--light-bg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.dark nav > div {
  background-color: var(--dark-bg);
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.logo img {
  width: 2rem;
  height: 2rem;
  color: var(--blue-600);
}

.dark .logo i {
  color: var(--blue-400);
}

.logo h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  background: none;
  border: none;
  color: var(--gray-700);
  cursor: pointer;
  font-size: 1rem;
}

.dark .nav-links a {
  color: var(--gray-300);
}

.nav-links a:hover {
  color: var(--theme-opposite);
}
@media (max-width: 600px) {
  .nav-links a {
    display: none;
  }
}
.theme-toggle {
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--gray-100);
}

.dark .theme-toggle {
  color: var(--gray-100);
  background-color: var(--gray-800);
}

.theme-toggle:hover {
  background-color: var(--gray-200);
}

.dark .theme-toggle:hover {
  background-color: var(--gray-700);
}

.theme-toggle i {
  width: 1.25rem;
  height: 1.25rem;
}

.dark .sun-icon {
  display: block;
}

.dark .moon-icon {
  display: none;
}

.sun-icon {
  display: none;
}

.moon-icon {
  display: block;
}

/* Main (the hero) */

.main {
  padding-top: 72px;
  text-align: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section {
  padding: 4rem 2rem;
}

.main h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
@media (max-width: 530px) {
  .main h2 {
    font-size: 2rem;
  }
}
.main p {
  font-size: 1.25rem;
  color: var(--gray-600);
  margin-bottom: 2rem;
}

.dark .main p {
  color: var(--gray-300);
}

.cta {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  border: 3px solid var(--theme);
  background-color: transparent;
  color: var(--text-color);
  padding: 0.75rem 2rem;
  border-radius: 1rem;
  font-size: 1.125rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cta:hover {
  border: 3px solid var(--theme-hover);
  background-color: var(--theme-hover);
}

.cta i {
  width: 1.25rem;
  height: 1.25rem;
}

.screenshots {
  padding: 4rem 2rem !important;
  padding-bottom: 1rem !important;
  background-color: var(--theme);
}
.screenshots .swiper-slide {
  position: relative;
  padding: 12px !important;
}
/* .screenshots .swiper-slide::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 5;
  background-image: url("../images/iphone.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 99%;
  pointer-events: none;
} */
.screenshots .swiper-slide * {
  border: 5px solid var(--theme-opposite);
  width: 100%;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px;
  z-index: -1;
}

.screenshots .swiper-slide iframe {
  zoom: 0.75;
}

.screenshots .swiper-pagination {
  position: relative;
  margin-top: 3rem !important;
}
.screenshots .swiper-pagination-bullet {
  background-color: var(--text-color) !important;
  width: 12px !important;
  height: 12px !important;
}
.screenshots .swiper-slide-active {
  transform: scale(1.1) !important;
}

/* Features */

#features {
  margin-bottom: 2rem;
}
.feature-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 900px) {
  .feature-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .feature-cards {
    grid-template-columns: 1fr;
  }
}
.feature-card {
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: var(--white);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.dark .feature-card {
  background-color: var(--gray-800);
}

.feature-card i {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--blue-600);
  margin-bottom: 1rem;
}

.dark .feature-card i {
  color: var(--blue-400);
}

.feature-card h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.feature-card p {
  color: var(--gray-600);
}

.dark .feature-card p {
  color: var(--gray-300);
}
.multi-ui {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.multi-ui p {
  font-size: 1.25rem;
}
.multi-ui .ui-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  flex-direction: row;
}
.multi-ui .ui {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.multi-ui .ui i {
  font-size: 6rem;
}
.phoneborder {
  height: 300px;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}
.android-ui .phoneborder {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.phoneborder img {
  width: 300px;
  position: relative;
  z-index: 5;
}
.phoneborder .screenshot {
  width: calc(100% - 24px);
  position: absolute;
  z-index: 1;
  transform: translate(calc(-1 * 100% - 12px), 50px);
}
.android-ui .phoneborder .screenshot {
  transform: translate(calc(-1 * 100% - 12px), 30px);
}
.color {
  width: 280px;
  height: 50px;
  background-color: red;
  position: absolute;
  top: 0;
  transform: translate(10px, 10px);
}
.android-ui .color {
  background-color: #eaf0f7;
}
.ios-ui .color {
  background-color: #f6f6f8;
}
/* How it works */

.how-it-works {
  background-color: var(--themed-gray-1);
}
.how-it-works > p {
  width: 100%;
  text-align: center;
  color: var(--themed-gray-5);
}
.hiw-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  padding: 2rem;
}
.hiw-main p {
  font-size: 2rem;
  font-weight: bold;
}
.hiw-main > p {
  color: var(--themed-gray-6);
  font-size: 1rem;
  font-weight: 400;
}
.how-it-works svg {
  width: 8rem;
  height: 8rem;
}

/* Reviews */

.star {
  color: #ffff00;
  margin-right: 2rem;
  float: right;
  font-size: 25px;
}

.review-card {
  flex: 0 0 calc(33.333% - 1.333rem);
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: var(--white);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.dark .review-card {
  background-color: var(--gray-800);
}

.review-card p {
  color: var(--gray-600);
  line-height: 1.5;
}

.dark .review-card p {
  color: var(--gray-300);
}

/* Comparison */

#comparison {
  margin-bottom: 2rem;
}
.comparison {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
}
@media (max-width: 970px) {
  .comparison {
    align-items: start !important;
  }
  #comparison {
    margin-left: 1em;
  }
}
.comparison-table {
  display: flex;
}
.cell {
  font-size: 1rem;
  width: 200px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--theme-opposite-main);
}
.product .cell:nth-child(1),
.features .cell:nth-child(1) {
  font-weight: bold;
  color: var(--theme-opposite-main);
  font-size: 1.25rem;
}
.cell i {
  font-size: 2em;
}
.cell .check {
  color: green;
}
.cell .cross {
  color: red;
}
.noborder {
  border-bottom: none;
}
.comparison-features .cell {
  justify-content: flex-start;
}
.product,
.comparison-features {
  padding: 1rem 1rem;
  padding-bottom: 1.5rem;
}
.gradexis {
  background-color: color-mix(in srgb, var(--theme) 30%, transparent);
  backdrop-filter: blur(0px);
  border-radius: 20px;
}

/* Carousel */

.carousel-container {
  position: relative;
  margin-bottom: 4rem;
  padding: 0 1rem;
}

.carousel {
  overflow: hidden;
  margin: 0 -1rem;
  padding: 1rem;
}

.carousel-track {
  display: flex;
  gap: 2rem;
  transition: transform 0.3s ease;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--white);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dark .carousel-button {
  background-color: var(--gray-800);
}

.carousel-button.prev {
  left: -1rem;
}

.carousel-button.next {
  right: -1rem;
}

.carousel-button i {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--gray-900);
}

.dark .carousel-button i {
  color: var(--gray-300);
}

/* install */
.install {
  background: var(--theme);
  padding: 2rem;
  text-align: center;
  display: flex;
}
.install .install-content {
  text-align: left !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 2rem;
}
.install .install-content h1 {
  font-weight: bold;
  text-align: left;
}
.install .install-content p {
  font-size: 1.25rem;
  color: var(--themed-gray-6);
  margin-top: 0.5rem;
}
.install-buttons {
  margin-top: 1rem;
}
.install a {
  height: 3rem;
  text-decoration: none;
  color: var(--white);
  background-color: var(--theme-opposite);
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  overflow: hidden;
  transition: background 0.2s, color 0.2s;
  margin-bottom: 0.5rem;
}
.install a:hover {
  background-color: var(--theme-hover);
  color: var(--text-color);
}
.install a img {
  width: 1.5em;
}
.install-screenshot {
  display: flex;
  justify-content: center;
  align-items: center;
}
.install-screenshot img {
  margin: 0 1rem;
  width: 300px;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px;
}
@media (max-width: 1024px) {
  .install-screenshot img:nth-child(2) {
    display: none;
  }
}
@media (max-width: 800px) {
  .install-screenshot img:nth-child(1) {
    display: none;
  }
}
@media (max-width: 600px) {
  .install {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .install .install-content {
    align-items: center;
    text-align: center !important;
    padding-right: 0;
  }
  .install .install-content h1 {
    text-align: center;
  }
  .install-screenshot {
    flex-direction: column;
  }
  .install-screenshot img {
    margin: 1rem 0;
    width: 100%;
    max-width: 250px;
  }
}

footer {
  background: var(--gray-900);
  color: var(--white);
  /* background: linear-gradient(
    90deg,
    var(--true-theme) 0%,
    var(--true-theme) 20%,
    var(--true-opposite) 100%
  ); */
  padding: 2rem 6rem;
  /* color: var(--true-on-theme); */
}
footer h1 {
  font-size: 3rem;
  font-family: "Bree Serif";
  font-weight: 500;
}
footer p {
  width: 300px;
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 0.5rem;
}
@media (max-width: 400px) {
  footer p {
    width: auto;
  }
}
